label{
    padding-bottom: 1em;
}
input, text{
    width: 100%;
}

.form-container{
    border:  1px solid antiquewhite;
}

.row{
    padding-top: 0.5em;
}

.alert{
    background-color: lightpink;
    padding: 0 0 0 0;
    text-align: center;
}

@keyframes alertAnim{
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}